# Feature Engineering

### step 1: importing the libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### step 2: loading the dataset

In [ ]:
df= pd.read_csv(r'C:\machine-learning\cognifyz-internship\Dataset .csv')

In [3]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [4]:
print("Dataset shape:", df.shape)

Dataset shape: (9551, 21)

### step 3: handling missing values

In [5]:
print("\nMissing values per column:")
df.isnull().sum()

Missing values per column:

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [6]:
df.dropna(inplace=True)
print("\nDataset shape after dropping missing values:", df.shape)

Dataset shape after dropping missing values: (9542, 21)

### step 4:feature engineering-extracting features

In [9]:
df['Name Length'] = df['Restaurant Name'].astype(str).apply(len)

In [10]:
df['Address Length'] = df['Address'].astype(str).apply(len)

In [12]:
df[['Restaurant Name','Name Length', 'Address', 'Address Length']].head()

,Restaurant Name,Name Length,Address,Address Length
0,Le Petit Souffle,16,"Third Floor, Century City Mall, Kalayaan Avenu...",71
1,Izakaya Kikufuji,16,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",67
2,Heat - Edsa Shangri-La,22,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...",56
3,Ooma,4,"Third Floor, Mega Fashion Hall, SM Megamall, O...",70
4,Sambo Kojin,11,"Third Floor, Mega Atrium, SM Megamall, Ortigas...",64

### step 5: encoding categorical variables

In [18]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print("\nColumns after cleaning:")
print(df.columns)

Columns after cleaning:
Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes', 'name_length', 'address_length', 'table_booking',
       'online_delivery'],
      dtype='object')

In [19]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
categorical_columns = ['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes']
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column].astype(str))

In [20]:
print("\nDataset after encoding categorical variables:")
df.head(10)

Dataset after encoding categorical variables:

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,name_length,address_length,table_booking,online_delivery
0,8500,3742,3,73,8677,171,172,611,353,920,...,0,2,31,0,1,474,16,71,1,0
1,8488,3167,3,73,6047,592,600,610,351,1111,...,0,2,28,0,1,764,16,67,1,0
2,8484,2892,3,75,4676,308,314,622,357,1671,...,0,3,27,1,5,415,22,56,1,0
3,8503,4700,3,75,8682,860,873,619,360,1126,...,0,3,32,0,1,540,4,70,0,0
4,8496,5515,3,75,8681,860,873,624,359,1122,...,0,3,31,0,1,351,11,64,1,0
5,1088,2068,3,75,5398,860,873,618,358,497,...,0,2,27,1,5,503,12,71,0,0
6,8486,1006,3,93,3976,861,874,608,345,134,...,0,3,23,1,5,704,10,83,1,0
7,8487,7170,3,93,3975,861,874,607,346,1681,...,0,3,25,1,5,824,7,81,1,0
8,8485,6037,3,93,6971,999,1052,609,350,796,...,0,3,32,0,1,787,40,69,1,0
9,8498,3805,3,94,3958,515,521,620,356,892,...,0,2,31,0,1,713,8,67,1,0

### step 6: creating new features for table booking and online delivery

In [ ]:
df['Table_Bookings'] = df['Has Table booking'].apply(lambda x: 1 if x == 'Yes' else 0)

In [14]:
df['Online_delivery'] = df['Has Online delivery'].apply(lambda x: 1 if x == 'Yes' else 0)

In [15]:
df[['Has Online delivery','Online_delivery', 'Has Table booking', 'Table_booking']].head()

  Has Online delivery  Online_delivery Has Table booking  Table_booking
0                  No                0               Yes              1
1                  No                0               Yes              1
2                  No                0               Yes              1
3                  No                0                No              0
4                  No                0               Yes              1

In [16]:
df[['Table_booking', 'Online_delivery']].mean()*100

Table_booking      12.135821
Online_delivery    25.686439
dtype: float64

### end of task 3: level 2